body {
    color: rebeccapurple;
    background-color: silver;
    font-family: Arial;
   }
ul {
        /*do not know how much of this is necessary.  changing li a selector seems to actually change the list*/
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    position:fixed;
    top:0;
    width: 100%;
    display: inline-block;
    float: left;
    margin: 0px;
    padding: 0px;
}
body{
        /*Default margin is not zero for body, this resets it. could also use wildcard selector*/
    margin-left: 0px;
}
        /*selector for all list items that are also links (which all of them should be regardless)*/
li a {
        display: inline-block;
        float: left;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change the background color of a link to #111 (black) on hover */
li a:hover {
            background-color: #111;
        }

        /*when a list item with class 'emptylistitem' is actually empty, change the background color to the same as the <li a> elements*/
        /*This code is here so the navbar spans the entire page using an empty list item appended to it*/
li.emptylistitem:empty {
        background: #111;
    }
a.firstlinkitem {
    color: yellow;
}

        /*with the inclusion of a navbar, element <h1> sits underneith it. This code moves the element down (x)px so it is not covered up, relative to original position on page.*/
h1 {
    position: relative;
            /*rule 'top' can be edited at leasure.  There is probably a better way to postion it.*/
    top: 28px;
            /*since <h1> is higher in the higherarchy than the navbar, we must put it behind by giving <h1> a negative value, or <ul> a higher positive value.*/
    z-index: -1;
}
img{
            /*simlpy resizing image elements. (WILL RESIZE ALL IMAGE ELEMENTS!)*/
    width: 350px;
    height; 350px;
    z-index: -2;
    position: relative
}
img:hover{
    transform: rotate(-10deg);
}

       /*button press effect*/
li a:active {
    transform: translateY(2px);
}
